<h1>Welcome to CSE Motors!</h1>
 
<% if (message) { %>
  <div class="alert"><%= message %></div>
<% } %>

<div class="hero">
    <img src="/images/vehicles/no-image.png"
    alt="No image available. Image loading"
    srcset="
    /images/vehicles/no-image-tn.png 100w,
    /images/vehicles/no-image.png 300w"
    sizes="(min-width: 550px) 300px, 100px">
    <div class="features">
        <h2></h2>
        <p>3 Cup Holders</p>
        <p>Superman Doors</p>
        <p>Fuzzy dice!</p>
        <button class="purchase">Own Today</button>
    </div>
</div>
<div class="infoWrapper">
    <div class="upgrades">
        <h3><span class="carName"></span> Upgrades</h3>
        <figure>
            <img src="/images/upgrades/flux-cap.png" alt="An image of a Flux Capacitor">
            <figcaption>Flux Capacitor</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/flame.jpg" alt="An image of flames">
            <figcaption>Flame Decals</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="An image of a bumper sticker">
            <figcaption>Bumper Stickers</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/hub-cap.jpg" alt="A picture of a hub-cap">
            <figcaption>Hub Caps</figcaption>
        </figure>
    </div>
    <div class="reviews">
        <h3><span class="carName"></span> Reviews</h3>
        <ul>
            <li>"So Fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly" (5/5)</li>
            <li>"The most futuristic ride of our day."  (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>


