<h1>
    <%= title %>
</h1>

 
<% if (message) { %>
  <div class="alert"><%= message %></div>
<% } %>

<div class="management">

    <h2>Welcome to the CSE Motors Inventory Management System</h2>
    <div>
        <span class="notice">Authorized users only!</span>
    </div>
    
    <p>Please choose an option.</p>
    <div class="options">
        <a href="/inv/add-classification">Add a New Vehicle Classification</a>
        
        <a href="/inv/add-inventory">Add a New Vehicle to Inventory</a>
    </div>    
<div class="dropDown">
    <h2>Manage Inventory</h2>
    <p>Please select the Vehicle Classification for the Vehicle.</p>
    <%- classificationList %>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this feature.</noscript>

</div>        
</div>


<script src="/js/inventory.js"></script>